/*  your css code here. If applicable */
body{
	background-color:whitesmoke;
    height:50px;
	padding-left:50px;
	
}
.img{
display:block;
margin-left:auto;
margin-right:auto;
width:50%;
}
.tag{
display:block;
margin-left:auto;
margin-right:auto;
width:50%;
text-align:center;
}
.para{
	text-align:center;
}
.but{
	background-color:red;
	color:white;
	text-align:center;
	width:100px;
	height:75px;
	box-shadow:none;
	border-radius:12px;
	box-align:middle;
}